<!-- <div *ngIf="showForm" class="container"> -->
<div class="container">
    <form class="form" [formGroup]="orderForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-card class="card mat-elevation-z8">
            <div class="form-header">
                <h2>Create a new Order</h2>
            </div>

            <mat-form-field class="full-width">
                <input matInput placeholder="Number Of Pallets" formControlName="orderSize">
                <mat-error *ngIf="orderForm.controls['orderSize'].hasError('required')">
                    Number Of Pallets is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="three-quarters-width">
                            <!-- <input matInput placeholder="Pickup Location" formControlName="puState" id="search_input"> -->
                            <input matInput placeholder="Pickup Location" formControlName="pickupLocation"
                                ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                                (onAddressChange)="handleAddressChange($event)" />
                            <mat-error *ngIf="orderForm.controls['pickupLocation'].hasError('required')">
                                Pickup Location is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="three-quarters-width">
                            <!-- <input matInput placeholder="Pickup Location" formControlName="puState" id="search_input"> -->
                            <input matInput placeholder="Delivery Location" formControlName="deliveryLocation"
                                ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                                (onAddressChange)="handleAddressChange($event)" />
                            <mat-error *ngIf="orderForm.controls['deliveryLocation'].hasError('required')">
                                Delivery Location is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>

            </table>
            <button mat-stroked-button>Submit</button>
        </mat-card>
    </form>
</div>