.container {
  padding-top: 10px;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.card {
  max-width: 100%;
  background-color: #BBDEFB;
}

.form-header {
  text-align: center;
}

.form {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.three-quarters-width {
  width: 75%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.thirds-width {
  width: 33.3%;
}

td {
  padding-right: 8px;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

#newRouteButton {
  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: 2%;
  background-color: #00E676;
}

#cancelRouteButton {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 2%;
  background-color: #F44336;
}

.spacer {
  flex: 1 1 auto;
}