.nav-container {
    position: fixed;
    top: 0px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .nav-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
  }
  

 .side-text{
     text-align: center;
 }
 mat-toolbar{
   background-color: #BBDEFB;
 }
 h4{
   cursor: pointer;
 }
 .spacer {
  flex: 1 1 auto;
}