<ng-container>
    
  
    <mat-sidenav-container class="nav-container">
      <mat-sidenav #sidenav mode="side" opened class="nav-sidenav"
                   [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                   [fixedBottomGap]="options.value.bottom">
                   <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Carrier
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div>
                  <h4>Add Carrier</h4>
              </div>
              <div>
                <h4>View Carriers</h4>
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Customers
                </mat-panel-title>
              </mat-expansion-panel-header>
              <h4>Add Customer</h4>
              <h4>View Customer</h4>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Orders
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>View Orders</h4>
                <h4>Accept Orders</h4>
                <h4>In Progress</h4>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Loads
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>View Loads</h4>
                <h4>Loads Orders</h4>
                <h4>In Progress</h4>
                <h4>Completed</h4>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Settings
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <h4>Update</h4>
              </mat-expansion-panel>
          </mat-accordion>
      </mat-sidenav>
  
      <mat-sidenav-content>
           <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>  
           <ng-content></ng-content>
      </mat-sidenav-content>
     
    </mat-sidenav-container>
  </ng-container>