    <mat-sidenav-container class="nav-container">
      <mat-sidenav #sidenav mode="side" opened class="nav-sidenav"
                   [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                   [fixedBottomGap]="options.value.bottom">
                   <mat-toolbar >Menu</mat-toolbar>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Carrier
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div>
                  <h4 (click)="toNav($event, 1)">Add Carrier</h4>
              </div>
              <!-- <div>
                <h4 (click)="toNav($event, 2)">View Carriers</h4>
            </div> -->
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Customers
                </mat-panel-title>
              </mat-expansion-panel-header>
              <h4 (click)="toNav($event, 3)">Add Customer</h4>
              <h4 (click)="toNav($event, 4)">View Customer</h4>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Orders
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <h4 (click)="toNav($event, 5)">Create Order</h4>
                <!-- <h4 (click)="toNav($event, 6)">Accept Orders</h4> -->
                <h4 (click)="toNav($event, 7)">In Progress</h4>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Loads
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <h4 (click)="toNav($event, 8)">View Loads</h4>
                <!-- <h4 (click)="toNav($event, 10)">In Progress</h4>
                <h4 (click)="toNav($event, 11)">Completed</h4> -->
                <h4 (click)="toNav($event, 14)">Create</h4>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Settings
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <h4 (click)="toNav($event, 12)">Update</h4>
              </mat-expansion-panel>
          </mat-accordion>
      </mat-sidenav>
  
      <mat-sidenav-content>
          <mat-toolbar><button  mat-button (click)="sidenav.toggle()"><i class="material-icons">view_headline</i></button><h2 id="admin-head" (click)="toNav($event, 13)">Admin Dashboard</h2></mat-toolbar> 
           <ng-content></ng-content>
           
      </mat-sidenav-content>
     
    </mat-sidenav-container>
  