.container{
    height: 100vh;
    width:100%;

}
mat-grid-tile {
   
    display: flex;
  }
mat-card{
    width: 90%;
    height: 90%;
    padding: 1px;
    margin: 0px;
    border-radius: 12px;
}
mat-card-header{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #E3F2FD;
    height: 25%;
}
mat-card-subtitle{
    display: none;
}
@media only screen and (min-width:1000px){
    mat-card-subtitle{
        display: block;
    }
}
@media only screen and (max-width:550px){
    mat-card-header{
       height: 20px;
    }
}