<div class="container">
    <mat-card class="card">
        <div class="form-header">
            <h1>Login</h1>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login(myForm)" name="loginForm" #myForm="ngForm">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput name="username" [formControl]="username" placeholder=" enter username">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" [formControl]="password" placeholder="enter password">
            </mat-form-field>
            <br>
            <button mat-stroked-button>Submit</button>
            <!-- <br>
            <mat-form-field>
                <p class="incorrect-login">Incorrect Username/Password</p>
            </mat-form-field> -->
        </form>
        <br>
        <nav>
            <label>Don't have an account?</label>
            <div><a routerLink="/register/client">Register as a Client</a> /
                <a routerLink="/register/carrier">Register as a Carrier</a></div>
        </nav>
    </mat-card>
</div>